<header>
  <div class="profile-img">
    <img src="assets/img/seniorphoto.jpg" alt="Image of Trey Dettmer" class = "profile-img-img">
  </div>
  <div class="page-title">
    <h1>Trey Dettmer</h1>
  </div>
  <div class="page-subtitle">
    <p>Junior Software Developer</p>
  </div>
  <div class="socials">
    <div class="socials__email">
      <a href="mailto:dettmertrey@gmail.com">dettmertrey@gmail.com</a>
    </div>
    <div class="socials__social-medias">
      <ul class = "socials__social-medias-list">
        <li class = "socials__social-medias-list__item">
          <a class = "socials__social-medias-list__link" href="https://github.com/TreyDettmer">
            <i class="fa fa-github"></i>
          </a>
          <a class = "socials__social-medias-list__link" href="https://www.linkedin.com/in/trey-dettmer-5b1088168/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</header>

<section class="my-work">
  <h2 class = "section-title">My Work</h2>
  <div class="portfolio">

      <a href="https://github.com/TreyDettmer/LudumDare52" class="portfolio__item__link">
        <img src="assets/img/DroughtProjectImage.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Drought</h2></div>
          <p class="portfolio__item__desc">A game created in 48 hours for the 52nd Ludum Dare Game Jam. Made using the Unity Engine.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/SoccerGame" class="portfolio__item__link">
        <img src="assets/img/SimpleSoccerProjectImage.jpg" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Simple Soccer</h2></div>
          <p class="portfolio__item__desc">A casual soccer game with local multiplayer. Made using the Unity Engine.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/UP-Game-Jam-22" class="portfolio__item__link">
        <img src="assets/img/GiffilpuffRoundupThumbnail.jpg" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Giffilpuff Roundup</h2></div>
          <p class="portfolio__item__desc">Game made with a team for my school's game jam. Made using the Godot Engine.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/PantryChef" class="portfolio__item__link">
        <img src="assets/img/PantryChefThumbnail.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Pantry Chef</h2></div>
          <p class="portfolio__item__desc">Recipe finder given the ingredients in the user's pantry. Made using AngularJS.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/pilots-eat" class="portfolio__item__link">
        <img src="assets/img/PilotsEatThumbnail.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Pilots Eat</h2></div>
          <p class="portfolio__item__desc">Review website for food at and around the University of Portland. Made using AngularJS.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/Charade-Word-Games" class="portfolio__item__link">
        <img src="assets/img/CharadeWordGamesThumbnail.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Charade Word Games</h2></div>
          <p class="portfolio__item__desc">Web version of the Catch Phrase and Heads Up party games. Written in Javascript using ReactJS library.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/World-Countries-Quiz" class="portfolio__item__link">
        <img src="assets/img/WorldCountriesQuizThumbnail.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>World Countries Quiz</h2></div>
          <p class="portfolio__item__desc">Interactive quiz about the locations of all of the countries in the world. Written in Javascript.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/DfaAnimator" class="portfolio__item__link">
        <img src="assets/img/DFAAnimator.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>DFA Animator</h2></div>
          <p class="portfolio__item__desc">Application that simulates a Deterministic Finite Automata. This was my final project for my Theory of Computation course. Written in C#.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/Ctrl" class="portfolio__item__link">
        <img src="assets/img/Ctrl.jpg" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Ctrl</h2></div>
          <p class="portfolio__item__desc">2D platformer game developed in a week for a game jam. Written in C#.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/DailyWallpaper" class="portfolio__item__link">
        <img src="assets/img/DailyDesktopWallpaper.jpg" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Daily Desktop Wallpaper</h2></div>
          <p class="portfolio__item__desc">Application that uses webscraping to update Windows desktop wallpaper. Written in Python.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/LooperApp" class="portfolio__item__link">
        <img src="assets/img/DigitalLoopStation.jpg" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Digital Loop Station</h2></div>
          <p class="portfolio__item__desc">Application that records and loops audio for instrumental or vocal accompaniment. Written in C#.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/MessengerApp" class="portfolio__item__link">
        <img src="assets/img/WebcamMessengerAppsPic.jpg" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Chat Room and Video Call Apps</h2></div>
          <p class="portfolio__item__desc">My first experience with networking using TCP and UDP protocols. Written in C#.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/Goodnight-Rover" class="portfolio__item__link">
        <img src="assets/img/RoverGameIcon.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Goodnight Rover</h2></div>
          <p class="portfolio__item__desc">Survival game I made with a friend for a game jam. Written in C# and modeled with Blender.</p>
        </div>
      </a>

      <a href="https://github.com/TreyDettmer/CharacterCreator" class="portfolio__item__link">
        <img src="assets/img/CharacterCreatorThumbnail.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Character Creator</h2></div>
          <p class="portfolio__item__desc">Character creator system for a game that I am working on. Written in C# and modeled with Blender.</p>
        </div>
      </a>

    <!-- Portfolio item 1 -->
      <a href="https://github.com/TreyDettmer/ScrabbIO" class="portfolio__item__link">
        <img src="assets/img/ScrabbioImg.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>ScrabbIO</h2></div>
          <p class="portfolio__item__desc">Browser based online two player Scrabble game. Written in Javascript.</p>
        </div>
      </a>

    <!-- Portfolio item 1 -->
      <a href="https://github.com/TreyDettmer/SitUpTracker" class="portfolio__item__link">
        <img src="assets/img/SitUpTrackerScreenshot.JPG" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Sit-Up Tracker</h2></div>
          <p class="portfolio__item__desc">Application that tracks how many sit-ups
          the user has done. Written in Python.</p>
        </div>
      </a>

    <!-- Portfolio item 1 -->
      <a href="https://github.com/TreyDettmer/YoutubeThumbnailFaceAvoider" class="portfolio__item__link">
        <img src="assets/img/ThumbnailFaceAvoiderScreenshot.jpg" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Thumbnail Filter</h2></div>
          <p class="portfolio__item__desc">Google Chrome extension that hides certain YouTube
           thumbnails. Written in Javascript.</p>
        </div>
      </a>

    <!-- Portfolio item 1 -->
      <a href="https://github.com/TreyDettmer/RingDriveCombat" class="portfolio__item__link">
        <img src="assets/img/RingDriveCombatCoverFinal.png" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Ring Drive Combat</h2></div>
          <p class="portfolio__item__desc">Wave-based, third-person shooting game
            made with Unity Engine. Written in C# and modeled with Blender.</p>
        </div>
      </a>

    <!-- Portfolio item 1 -->
      <a href="https://github.com/TreyDettmer/Pinochle" class="portfolio__item__link">
        <img src="assets/img/PinochleScreenshot.png" class="portfolio__img" alt="">
        <div class="portfolio__item__title__overlay">
          <div class="portfolio__item__title"><h2>Pinochle</h2></div>
          <p class="portfolio__item__desc">Rendition of the classic card game. Developed for Android.
           This was a group project for my Object-Oriented-Design course. Written in Java.</p>
        </div>
      </a>











  </div>
</section>

<footer class="footer">
  <p>&#169; 2020 Trey Dettmer</p>
</footer>